.tv {
  transform: scale(1.5);
  position: fixed;
  transform-origin: top left;
}

.tv .container {
  background-color: #0C101D;
  background-image: url("../img/background-image.png");
  background-repeat: no-repeat;
  height: 720px;
  overflow: hidden;
  padding: 96px 100px 36px 100px;
  width: 1280px;
}

.container.onwardJourney {
  display: none;
  padding-top: 44px;
}

.container.category {
  display: none;
  background-repeat: no-repeat;
}

.container.atoz {
  display: none;
  background-repeat: no-repeat;
}

.switching {
  background-color: #101010;
  background-image: url("../img/user-switching-background.png");
  padding: 132px 68px 36px 68px;
  background-repeat: repeat-x;
}

.primary-navigation {
  position: fixed;
  width: 1280px;
  height: 96px;
  padding: 0 0 0 340px;
  top: 0;
  left: 0;
  background-color: #121021;
}

.content-wrapper {
    height: 232px;
    width: 261px;
    position: relative;
    display: inline-block;
    margin: 0 9px 24px 0;
    transform: scale(1, 1);
    vertical-align: top;
}

.content-grad {
    background: linear-gradient(to bottom, rgba(16,16,28,0) 0%,rgba(16,16,28,0.5) 32%,rgba(16,16,28,1) 100%);
    height: 146px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: inherit;
}

.content-wrapper.small .content-grad {
    height: 132px;
}

.content-wrapper.poster .content-grad {
    border-top: none;
}

.content-wrapper.highlight .content-grad {
    background: linear-gradient(to bottom, rgba(16,16,28,0) 0%,rgba(16,16,28,0.5) 32%,rgba(16,16,28,1) 100%);
    height: 206px;
}

.content-wrapper.highlight.small .content-grad {
    height: 166px;
}

.content-image {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: inherit;
}

.content-image img {
  width: 100%;
}

.content-wrapper.poster .content-image {
  position: absolute;
  top: 0;
  width: inherit;
  overflow: hidden;
  height: 352px;
}

.content-wrapper.square .content-image {
  position: absolute;
  top: 0;
  width: inherit;
  overflow: hidden;
  height: 261px;
}

.content-wrapper.user .content-image {
  background-color: #2D2D2D;
  width: 224px;
  height: 224px;
  margin-bottom: 16px;
  padding-top: 42px;
  display: inline-block;
  position: relative;
}

.content-icon {
  background-color: #EB4997;
  height: 40px;
  margin-bottom: 6px;
  opacity: 0;
  padding: 9px 11px;
  width: 40px;
}

.content-wrapper.resume .content-icon {
  opacity: 1;
  background-color: #282635;
  margin: 0 0 0 -8px;
}

.content-wrapper.resume .resume-bar {
    margin: 0 0 0 -8px;
    width: 271px;
    height: 4px;
    background-color: rgba(178, 183, 196, 0.4)
}

.content-wrapper.resume.small .resume-bar {
  width: 245px;
}

.content-wrapper.resume .resume-bar .progress-bar {
  width: 50%;
  height: 4px;
  background-color: white;
}

.content-wrapper.resume .content-label {
  margin: 4px 0 0 0;
}

.content-footer {
  width: inherit;
  height: 90px;
  background-color: #10101C;
  position: absolute;
  bottom: 0;
}

.content-wrapper.highlight .content-footer {
  height: 92px;
}

.content-wrapper.poster {
  height: 438px;
}

.content-wrapper.square {
  height: 360px;
}

.content-wrapper.navigation {
  width: auto;
  margin: 0;
  padding: 0 28px;
  height: 100%;
  position: relative;
}

.content-wrapper.navigation .content-title {
  color: #B2B7C4;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  padding-top: 52px;
  line-height: 22px;
}

.content-wrapper.navigation svg {
  margin-bottom: 2px;
}

.content-wrapper.user {
  height: 320px;
  margin: 0 16px;
  padding: 0 0px;
  position: relative;
  width: 224px;
  opacity: 0.5;
}

.content-wrapper.app-footer {
  padding: 12px;
  height: 82px;
  margin-right: 8px;
  background-color: #282635;
  border-bottom: none;
}

.content-wrapper.app-footer .content-title {
  color: #B2B7C4;
  display: inline-block;
}

.content-wrapper.app-footer .icon {
  fill: #B2B7C4;
}

.content-wrapper svg {
  margin-right: 6px;
}

.content-detail {
  height: auto;
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: inherit;
}

.content-title {
  color: #EBEBEB;
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content-subtitle {
  color: #B2B7C4;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.highlight .content-title {
  font-size: 23px;
  line-height: 28px;
  margin-bottom: 2px;
}

.content-wrapper.poster .content-subtitle {
  opacity: 0;
}

.content-footer p {
  font-size: 15px;
  line-height: 17px;
  margin: 0 0 2px 0;
}

.content-label {
  margin-bottom: 2px;
}

.editorialLabel {
  color: #EBEBEB;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.categoryLabel {
  color: #B2B7C4;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.liveLabel {
  color: #10CCCA;
  display: inline;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.pulse {
  border: 2px solid #10CCCA;
  border-radius: 999999px;
  float: left;
  height: 14px;
  line-height: 12px;
  margin: 3px 6px 0 0;
  position: relative;
  text-align: center;
  width: 14px;
}

.inner {
  animation: pulse 2s infinite;
  background-color: #10CCCA;
  border-radius: 99999px;
  height: 6px;
  left: 2px;
  position: absolute;
  top: 2px;
  transition: opacity 0.3s;
  width: 6px;
}

.viewAll {
  background-color: #282635;
  height: 234px;
  padding: 16px 10px 10px 10px;
  position: relative;
  vertical-align: top;
  width: 98px;
}

.viewAll-counter {
  bottom: 12px;
  color: #B2B7C4;
  left: 10px;
  font-size: 20px;
  line-height: 20px;
  max-width: 84px;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.viewAll-text {
  bottom: 36px;
  color: #EBEBEB;
  left: 10px;
  font-size: 22px;
  line-height: 26px;
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.viewAll.highlight.small {
  width: 98px;
}

.viewCat {
  background-color: #282635;
  height: 234px;
  padding: 16px 10px 10px 10px;
  position: relative;
  vertical-align: top;
  width: 98px;
}

.viewAtoZ {
  background-color: #282635;
  height: 234px;
  padding: 16px 10px 10px 10px;
  position: relative;
  vertical-align: top;
  width: 98px;
}

.dividerMotif {
  width: 24px;
  height: 2px;
  background-color: #EB4997;
  position: absolute;
  left: 10px;
  top: 50%;
}

.carousel {
  border-bottom: 3px solid rgba(255, 255, 255, 0.15);
  height: auto;
  margin: 16px 0 0 0;
  position: relative;
  width: auto;
  /*opacity: 0.32;*/
}

.carousel.footer {
  border: none;
}

.row {
  border-bottom: 3px solid #282635;
  height: auto;
  margin: 20px 0 0 0;
  position: relative;
  width: auto;
  /*opacity: 0.32;*/
}

.grid {
    height: auto;
    margin: 16px 0 0 0;
    border-bottom: 3px solid #282635;
    /*opacity: 0.32;*/
}

.endlessgrid {
    height: auto;
    margin: 20px 0 0 0;
    border-bottom: 3px solid #282635;
}

.endlessgrid .carousel-title {
  font-size: 32px;
}

.empty {
  border: none;
}

.carousel-content {
  width: 100000px;
  transform:translateX(0px);
  /* transition: all 120ms ease-in-out; */
}

.carousel .collection-image img {
  top: -16px;
}

.container.switching .carousel-content {
    width: 2400px;
    text-align: center;
    transform: translateX(-628px);
}

.row-content {
  width: 1154px;
}

.highlight {
  height: 292px;
  width: 352px;
  margin-right: 16px;
}

.small {
  height: 224px;
  width: 246px;
  margin-right: 12px;
}

.highlight.small {
  height: 260px;
  width: 332px;
  margin-right: 15px;
}

.carousel-content .content-wrapper.highlight {
  margin-right: 10px;
}

.grid-content .content-wrapper {
  margin-right: 10px;
}

.grid-content .content-wrapper:nth-child(4n) {
  margin-right: 0px;
}

.content-footer .highlight {
  height: 94px;
}

.highlight:last-child {
  margin-right: 0px;
}

.container-inner {
  width: 100%;
  height: auto;
  margin-top: 0px;
  transform:translateY(0px);
  transition: all 200ms ease-in-out;
}

.container-grid {
  width: 100%;
  height: auto;
  margin-top: 0px;
  transform:translateY(0px);
  transition: all 200ms ease-in-out;
}

.collection {
  border-bottom: 3px solid #282635;
  height: 352px;
  position: relative;
  width: auto;
}

.collection.live {
  height: 410px;
}

.collection .carousel-content {
  position: absolute;
  bottom: 40px;
}

.collection .carousel-content .content-wrapper {
  margin-bottom: -20px;
}

.live-info {
  bottom: 82px;
  left: 0;
  position: absolute;
  width: 380px;
}

.related-content {
  color: #EBEBEB;
  font-size: 24px;
  line-height: 26px;
  bottom: 278px;
  left: 472px;
  position: absolute;
  width: 380px;
}

.collection-title {
  color: #EBEBEB;
  display: inline-block;
  font-size: 32px;
  height: auto;
  line-height: 40px;
  width: 380px;
}

.collection-description {
  color: #B2B7C4;
  display: inline-block;
  height: auto;
  font-size: 20px;
  line-height: 26px;
  width: 380px;
}

.collection-image img {
  position: absolute;
  left: -68px;
}

.watch-live {
  background-color: #282635;
  height: 50px;
  margin-bottom: 0;
  padding: 2px 12px 2px 2px;
  width: 158px;
}

.watch-from-start {
  background-color: #282635;
  height: 50px;
  margin-bottom: 0;
  margin-right: 88px;
  padding: 2px 12px 2px 2px;
  width: 210px;
}

.watch-now {
  background-color: #282635;
  height: 50px;
  margin-bottom: 0;
  margin-right: 380px;
  padding: 2px 12px 2px 2px;
  width: 160px;
}

.button-text {
  display: inline-block;
  color: #EBEBEB;
  font-size: 18px;
  line-height: 48px;
}

.live-bar {
  width: 100%;
  background-color: rgba(235, 235, 235, 0.2);
  height: 4px;
  margin: 20px 0 12px 0;
}

.live-bar-progress {
  width: 50%;
  background-color: #EB4997;
  height: 4px;
}


/* FOCUS STATES */

.active {
  opacity: 1;
}

.content-wrapper.focus {
    transform: scale(1.05, 1.05);
    transition: all 120ms ease-in-out;
}

.content-wrapper.focus .content-image {
    border-top: solid 3px #EB4997;
}

.content-wrapper.focus .content-grad {
  opacity: 1;
}

.content-wrapper.poster.focus .content-subtitle {
    opacity: 1;
}

.content-wrapper.focus .content-icon {
  opacity: 1;
}

.content-wrapper.focus .content-detail .content-label {
  margin: 2px 0;
}

.content-wrapper.resume.focus .content-detail .content-label {
  margin: 4px 0 2px 0;
}

.content-wrapper.resume.focus .resume-bar .progress-bar {
  background-color: #EB4997;
}

.content-wrapper.focus .content-detail .content-subtitle {
  color: #EBEBEB;
  text-overflow: initial;
  white-space: initial;
}

.content-wrapper.resume.focus {

}

.content-wrapper.resume.focus .content-icon {
  background-color: #EB4997;
}

.content-wrapper.viewAll.focus {
  background-color: #EB4997;
}

.content-wrapper.viewCat.focus {
  background-color: #EB4997;
}

.content-wrapper.viewAtoZ.focus {
  background-color: #EB4997;
}

.content-wrapper.viewAll.focus .viewAll-counter {
  color: #EBEBEB;
}

.content-wrapper.viewCat.focus .viewAll-counter {
  color: #EBEBEB;
}

.content-wrapper.viewAtoZ.focus .viewAll-counter {
  color: #EBEBEB;
}

.content-wrapper.viewAll.focus .dividerMotif {
  background-color: #EBEBEB;
}

.content-wrapper.viewCat.focus .dividerMotif {
  background-color: #EBEBEB;
}

.content-wrapper.viewAtoZ.focus .dividerMotif {
  background-color: #EBEBEB;
}

.content-wrapper.focus .content-footer .categoryLabel {
  color: #EBEBEB;
}

.watch-live.focus {
  background-color: #EB4997;
}

.watch-from-start.focus {
  background-color: #EB4997;
}

.watch-now.focus {
  background-color: #EB4997;
}

.content-wrapper.app-footer.focus {
  background-color: #EB4997;
}

.content-wrapper.app-footer.focus .content-title {
  color: #EBEBEB;
}

.content-wrapper.focus .icon {
  fill: #EBEBEB;
}

.content-wrapper.navigation.focus {
  background: #EB4997;
  transform: scale(1);
}

.content-wrapper.navigation.focus .content-title {
  color: #EBEBEB;
}

.content-wrapper.user.focus {
  opacity: 1;
}

.content-wrapper.user.focus .content-image {
  border-top: none;
}

.content-wrapper.user.focus .content-title {
  font-weight: bold;
}

.carousel-title {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 20px;
  color: #EBEBEB;
}

.carousel-subtitle {
  font-size: 22px;
  line-height: 28px;
  /*margin-bottom: 24px;*/
  color: #B2B7C4;
  width: 75%;
}

@keyframes pulse {
  0%   { opacity: 0.1; }
  50% { opacity: 1; }
  100% { opacity: 0.1; }
}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  .tv {
    transform: scale(1);
  }

}
